body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 250px;
  width: 250px;
  position: relative;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container::before {
  content: '';
  position: absolute;
  top: -50px;
  left: -50px;
  width: 350px;
  height: 350px;
  background: linear-gradient(
    35deg,
    #8915d7 17%,    /* purple */
    #03f80b 65%,   /* green */
    #ffff00 50%,   /* yellow */
    #fe0000 90%   /* red */
  );
  border-radius: 50%;
  animation: rotateGradient 7s linear infinite;
  z-index: -1;
}

@keyframes rotateGradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container > div {
  background: white;
  height: 243px;
  width: 243px;
  border-radius: 18px;
  box-shadow: 0 2px 8px #0002;
  z-index: 1;
}